# ETL Project

### -------------------------------------------------------------------------------------------------------------------------------------------------

# Extract: your original data sources and how the data was formatted 
### Our data is being pulled from one CSV file and one XLXS file that we found on Kaggle and  Dataworld. We used Jupyter Notebooks to clean the data.
## winemag-data_first150k_for_project.csv
### 1.	We were able to extract our data with using sqlalchemy to create an engine.
### 2.	Then we convert the CSV into a DataFrame
## Wines.xlsx:
### 1.	Since the file we were cleaning up was an .xlxs file and not a CSV file, we install openpyxl 
### 2.	Then we used it as our engine to read the excel file. 
### 3.	Next, we convert the file into a DataFrame
# Transform: what data cleaning or transformation was required. 
## Steps for cleaning the winemag-data_first150k_for_project.csv:
### 1.	We create new DataFrame with the selected columns we needed.
### 2.	Then we identified the incomplete rows and eliminated them.
### 3.	We then evaluated the data to determine that the data was the appropriate type. 
### 4.	We renamed Pinot Grigio to match Pinot Gris in the other dataset.
### 5.	We then eliminated all wines that were not included in the top 6 favorite wines per https://artwinepreserver.com/pages/types-of-wine.
### 6.	Finally, we reindexed the DataFrame with the remaining top 6 wines that we selected
## Steps for cleaning the Wines.xlsx:

### 1.	We eliminated the Vintage, County and Designation columns. 
### 2.	We identified the incomplete rows and then eliminated them. 
### 3.	Next, we evaluated the data to determine if the data was the appropriate type. We noted that the Price was an object rather than a float. We then converted it to a float.
### 4.	We then eliminated all wines that were not include in the top 6 favorite wines per the Art Wine Preserve website.
### 5.	Finally, we reindexed the DataFrame with the remaining top 6 wines that we selected.

### -----------------------------------------------------------------------------------------------------------------------------------------------------

### Add pip to open the xlsx file

In [58]:
#!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\carmi\anaconda3\envs\pythondata\lib\site-packages (3.0.6)
Requirement already satisfied: jdcal in c:\users\carmi\anaconda3\envs\pythondata\lib\site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in c:\users\carmi\anaconda3\envs\pythondata\lib\site-packages (from openpyxl) (1.0.1)

### Add Dependencies

In [3]:
 # Dependencies
import psycopg2 as pg2
import pandas as pd
from sqlalchemy import create_engine
import os

### Load xlsx file and store file into a DataFrame

In [134]:
# Load data set into pandas
data_file = "Resources/Wines.xlsx"
df = pd.read_excel(data_file, engine='openpyxl')
df.head()

,vintage,country,county,designation,points,price,province,title,variety,winery
0,1919-01-01 00:00:00,Spain,Cava,1919 Brut Selecció,88,$13.00,Catalonia,L'Arboc NV 1919 Brut Selecció Sparkling (Cava),Sparkling Blend,L'Arboc
1,1929-01-01 00:00:00,Italy,Vernaccia di San Gimignano,NaN,87,$14.00,Tuscany,Guidi 1929 2015 Vernaccia di San Gimignano,Vernaccia,Guidi 1929
2,1929-01-01 00:00:00,Italy,Sangiovese di Romagna Superiore,Prugneto,84,$15.00,Central Italy,Poderi dal Nespoli 1929 2011 Prugneto (Sangiov...,Sangiovese,Poderi dal Nespoli 1929
3,1934-01-01 00:00:00,Portugal,NaN,Reserva Velho,93,$495.00,Colares,Adega Viuva Gomes 1934 Reserva Velho Red (Cola...,Ramisco,Adega Viuva Gomes
4,1945-01-01 00:00:00,France,Rivesaltes,Legend Vintage,95,$350.00,Languedoc-Roussillon,Gérard Bertrand 1945 Legend Vintage Red (Rives...,Red Blend,Gérard Bertrand

### Make new DataFrame with the needed columns

In [136]:

new_df = df[['country', 'points', "price", 'province', 'title', 'variety', 'winery']].copy()
new_df.head()

,country,points,price,province,title,variety,winery
0,Spain,88,$13.00,Catalonia,L'Arboc NV 1919 Brut Selecció Sparkling (Cava),Sparkling Blend,L'Arboc
1,Italy,87,$14.00,Tuscany,Guidi 1929 2015 Vernaccia di San Gimignano,Vernaccia,Guidi 1929
2,Italy,84,$15.00,Central Italy,Poderi dal Nespoli 1929 2011 Prugneto (Sangiov...,Sangiovese,Poderi dal Nespoli 1929
3,Portugal,93,$495.00,Colares,Adega Viuva Gomes 1934 Reserva Velho Red (Cola...,Ramisco,Adega Viuva Gomes
4,France,95,$350.00,Languedoc-Roussillon,Gérard Bertrand 1945 Legend Vintage Red (Rives...,Red Blend,Gérard Bertrand

### Check for blank cells

In [137]:
new_df.count()

country     24989
points      24997
price       23375
province    24989
title       24997
variety     24997
winery      24997
dtype: int64

### Drop any rows with blank cells

In [138]:
new_df = new_df.dropna(how='any')
new_df.count()

country     23367
points      23367
price       23367
province    23367
title       23367
variety     23367
winery      23367
dtype: int64

### Show the data types to confirm they are what you need to continue

In [139]:
new_df.dtypes

country     object
points       int64
price       object
province    object
title       object
variety     object
winery      object
dtype: object

### Change any data types that need to be changed

In [100]:
#change the price to a float 
new_df['Price'] = [float(x.replace("$","").replace(",","")) for x in new_df['Price']]
new_df.dtypes

Country      object
Points        int64
Price       float64
Province     object
Title        object
Variety      object
Winery       object
dtype: object

### Pull the top 6 varieties

In [140]:
winexl_df = new_df.loc[(new_df['variety'] == "Cabernet Sauvignon") | (new_df['variety'] == "Chardonnay") 
                       | (new_df['variety'] == "Pinot Gris") | (new_df['variety'] == "Pinot Noir")
                       | (new_df['variety'] == "Sauvignon Blanc") | (new_df['variety'] == "Merlot")]
count = winexl_df['variety'].value_counts()
count

Pinot Noir            2552
Chardonnay            2167
Cabernet Sauvignon    1834
Sauvignon Blanc        986
Merlot                 587
Pinot Gris             274
Name: variety, dtype: int64

### Print the new DataFrame

In [141]:
winexl_df.head()

,country,points,price,province,title,variety,winery
11,US,89,$170.00,California,Sebastiani 1987 Cherryblock Cabernet Sauvignon...,Cabernet Sauvignon,Sebastiani
23,US,82,$13.00,California,Gan Eden 1994 Chardonnay (Sonoma County),Chardonnay,Gan Eden
33,South Africa,87,$17.00,Stellenbosch,Middelvlei 1995 Cabernet Sauvignon (Stellenbosch),Cabernet Sauvignon,Middelvlei
36,US,83,$22.00,California,Meridian 1996 Coastal Reserve Cabernet Sauvign...,Cabernet Sauvignon,Meridian
37,US,84,$29.00,Washington,Covey Run 1996 Whiskey Canyon Vyd Cabernet Sau...,Cabernet Sauvignon,Covey Run

### Reset the index count for the new DataFrame

In [142]:
winexl_df = winexl_df.reset_index(drop=True)
winexl_df.head()

,country,points,price,province,title,variety,winery
0,US,89,$170.00,California,Sebastiani 1987 Cherryblock Cabernet Sauvignon...,Cabernet Sauvignon,Sebastiani
1,US,82,$13.00,California,Gan Eden 1994 Chardonnay (Sonoma County),Chardonnay,Gan Eden
2,South Africa,87,$17.00,Stellenbosch,Middelvlei 1995 Cabernet Sauvignon (Stellenbosch),Cabernet Sauvignon,Middelvlei
3,US,83,$22.00,California,Meridian 1996 Coastal Reserve Cabernet Sauvign...,Cabernet Sauvignon,Meridian
4,US,84,$29.00,Washington,Covey Run 1996 Whiskey Canyon Vyd Cabernet Sau...,Cabernet Sauvignon,Covey Run

### Load the second file and set up DataFrame

In [104]:
csv_file = "Resources/winemag-data_first150k_for_project.csv"
winemag_data_df = pd.read_csv(csv_file)
winemag_data_df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,France,"A big, powerful wine that sums up the richness...",NaN,99,2300.0,Bordeaux,Pauillac,NaN,Bordeaux-style Red Blend,Château Latour
1,US,The nose on this single-vineyard wine from a s...,Roger Rose Vineyard,91,2013.0,California,Arroyo Seco,Central Coast,Chardonnay,Blair
2,France,"A massive wine for Margaux, packed with tannin...",NaN,98,1900.0,Bordeaux,Margaux,NaN,Bordeaux-style Red Blend,Château Margaux
3,France,A wine that has created its own universe. It h...,Clos du Mesnil,100,1400.0,Champagne,Champagne,NaN,Chardonnay,Krug
4,France,A wine that has created its own universe. It h...,Clos du Mesnil,100,1400.0,Champagne,Champagne,NaN,Chardonnay,Krug

### Make new DataFrame with only the needed columns

In [105]:
new_winemag_data_df = winemag_data_df[['country', 'description', 'points', 'price', 'province', 'variety', 'winery']].copy()
new_winemag_data_df.head()

,country,description,points,price,province,variety,winery
0,France,"A big, powerful wine that sums up the richness...",99,2300.0,Bordeaux,Bordeaux-style Red Blend,Château Latour
1,US,The nose on this single-vineyard wine from a s...,91,2013.0,California,Chardonnay,Blair
2,France,"A massive wine for Margaux, packed with tannin...",98,1900.0,Bordeaux,Bordeaux-style Red Blend,Château Margaux
3,France,A wine that has created its own universe. It h...,100,1400.0,Champagne,Chardonnay,Krug
4,France,A wine that has created its own universe. It h...,100,1400.0,Champagne,Chardonnay,Krug

### Check for blank cells

In [106]:
# Check for missing information
new_winemag_data_df.count()

country        150925
description    150930
points         150930
price          137235
province       150925
variety        150930
winery         150930
dtype: int64

### Drop any rows with blank cells

In [107]:
# Drop all rows with missing information
new_winemag_data_df = new_winemag_data_df.dropna(how='any')

### Confirm the DataFrame is correct with the drop changes

In [108]:
# Check that all columns have the same amount of rows now. 
new_winemag_data_df.count()

country        137230
description    137230
points         137230
price          137230
province       137230
variety        137230
winery         137230
dtype: int64

### Check the data types to make sure that they are the correct type that is needed

In [109]:
# Check that the data types fit the data. 
new_winemag_data_df.dtypes

country         object
description     object
points           int64
price          float64
province        object
variety         object
winery          object
dtype: object

### Check for the counts in the variety to pull the top 6 varieties

In [110]:
# look at the values in the 'variety' column.
new_winemag_data_df['variety'].value_counts()

Chardonnay               13775
Pinot Noir               13625
Cabernet Sauvignon       12671
Red Blend                 9377
Sauvignon Blanc           6054
                         ...
Baga-Touriga Nacional        1
Chardonel                    1
Sarba                        1
Erbaluce                     1
Rufete                       1
Name: variety, Length: 619, dtype: int64

### Change the varieties' names to match the first file so that they can be merged

In [111]:
new_winemag_data_df['variety'] = new_winemag_data_df['variety'].replace(
    {'Pinot Grigio': 'Pinot Gris'})

### Pull the top 6 varieties that were selected

In [112]:
new_winemag_df = new_winemag_data_df.loc[(new_winemag_data_df['variety'] == "Cabernet Sauvignon") | (new_winemag_data_df['variety'] == "Chardonnay") 
                       | (new_winemag_data_df['variety'] == "Pinot Gris") | (new_winemag_data_df['variety'] == "Pinot Noir")
                       | (new_winemag_data_df['variety'] == "Sauvignon Blanc") | (new_winemag_data_df['variety'] == "Merlot")]
count = new_winemag_df['variety'].value_counts()
count

Chardonnay            13775
Pinot Noir            13625
Cabernet Sauvignon    12671
Sauvignon Blanc        6054
Merlot                 4987
Pinot Gris             2545
Name: variety, dtype: int64

### Print the new DataFrame

In [113]:
new_winemag_df.head()

,country,description,points,price,province,variety,winery
1,US,The nose on this single-vineyard wine from a s...,91,2013.0,California,Chardonnay,Blair
3,France,A wine that has created its own universe. It h...,100,1400.0,Champagne,Chardonnay,Krug
4,France,A wine that has created its own universe. It h...,100,1400.0,Champagne,Chardonnay,Krug
5,France,A wine that has created its own universe. It h...,100,1400.0,Champagne,Chardonnay,Krug
26,France,From arguably the finest white wine vineyard i...,98,757.0,Burgundy,Chardonnay,Bouchard Père & Fils

### Reset the index count

In [114]:
new_winemag_df = new_winemag_df.reset_index(drop=True)
new_winemag_df.head()

,country,description,points,price,province,variety,winery
0,US,The nose on this single-vineyard wine from a s...,91,2013.0,California,Chardonnay,Blair
1,France,A wine that has created its own universe. It h...,100,1400.0,Champagne,Chardonnay,Krug
2,France,A wine that has created its own universe. It h...,100,1400.0,Champagne,Chardonnay,Krug
3,France,A wine that has created its own universe. It h...,100,1400.0,Champagne,Chardonnay,Krug
4,France,From arguably the finest white wine vineyard i...,98,757.0,Burgundy,Chardonnay,Bouchard Père & Fils

### Connect to local database

In [4]:
rds_connection_string = "postgres:Password@localhost:5432/Wines"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [5]:
 engine.table_names()

['winexl', 'newwinemag']

In [146]:
 ['winexl', 'newwinemag']

['winexl', 'newwinemag']

### Use pandas to load csv converted DataFrame into database

In [147]:
 winexl_df.to_sql(name='winexl', con=engine, if_exists='append', index=False)

In [148]:
new_winemag_df.to_sql(name='newwinemag', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the wines table

In [149]:
pd.read_sql_query('select * from winexl', con=engine).head()

,country,points,price,province,title,variety,winery
0,US,89,$170.00,California,Sebastiani 1987 Cherryblock Cabernet Sauvignon...,Cabernet Sauvignon,Sebastiani
1,US,82,$13.00,California,Gan Eden 1994 Chardonnay (Sonoma County),Chardonnay,Gan Eden
2,South Africa,87,$17.00,Stellenbosch,Middelvlei 1995 Cabernet Sauvignon (Stellenbosch),Cabernet Sauvignon,Middelvlei
3,US,83,$22.00,California,Meridian 1996 Coastal Reserve Cabernet Sauvign...,Cabernet Sauvignon,Meridian
4,US,84,$29.00,Washington,Covey Run 1996 Whiskey Canyon Vyd Cabernet Sau...,Cabernet Sauvignon,Covey Run

In [150]:
pd.read_sql_query('select * from newwinemag', con=engine).head()

,country,description,points,price,province,variety,winery
0,US,The nose on this single-vineyard wine from a s...,91,2013.0,California,Chardonnay,Blair
1,France,A wine that has created its own universe. It h...,100,1400.0,Champagne,Chardonnay,Krug
2,France,A wine that has created its own universe. It h...,100,1400.0,Champagne,Chardonnay,Krug
3,France,A wine that has created its own universe. It h...,100,1400.0,Champagne,Chardonnay,Krug
4,France,From arguably the finest white wine vineyard i...,98,757.0,Burgundy,Chardonnay,Bouchard Père & Fils

# Load: the final database, tables/collections, and why this was chosen.
### 1.	We connected to the database.
### 2.	We then added tables.
### 3.	Next, we used pandas to load the CSV converted DataFrame into the SQL database.
### 4.	Then we used pgAdmin to pull our tables in and confirmed the data was added. 
### 5.	Why we chose to use SQL
### a.	We used SQL because it is a good balance when you are working with numbers and text. 
### b.	SLQ was also chosen because it is relational database where Mongo does not relate as easily. 
### c.	We chose it so we could get more formular with SLQ due to the fact more companies use it and we wanted to stay completive. 
### d.	We also used this because Fred told us too.

## Bonus:
### Create an Html with links to each DataFrames to display the final results.